.container {
    width: 80%;
    margin: 0 auto;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .nav {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .nav li {
    margin: 0 10px;
  }
  
  .diary-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 25px;
  }
  
  th {
    background-color: #f2f2f2; 1 
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  thead th {
    padding: 12px 15px;
    font-weight: bold;
    color: #2e7d32;
  }
  
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  tbody td {
    padding: 12px 15px;
  }
  
  tbody td:first-child {
    font-weight: bold;
    color: #2e7d32;
  }
  
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}